<%if(Vitals.length > 0){ %>
    <% Vitals.forEach(function(row){%>
      <tr>
          <td><%= row.Patients_Name %></td>
          <td><%= row.Patient_ID %></td>
          <td><%= row.Age %></td>
          <td><%= row.Height %></td>
          <td><%= row.Temperature %></td>
          <td><%= row.Blood_Level%></td>
          <td><%= row.Body_Weight%></td>
          <td><%= row.Sugar_Level %></td>
          <td><%= row.Pulse_Rate %></td>
            <td class="float-right">
              <button class="btn btn-danger badge-pill">Remove</button>
          </td> 
          
      </tr>
    <%});%>
  <%}else{%>
        <tr>
            <td colspan="6"> No Record Found </td>
        </tr>
    <% } %>