<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
   
  <title>Scar-Health/Patient list</title>

  <!-- Custom fonts for this template-->
  <link href="../Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="../Assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../Assets/css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="../Assets/css/andoh.css">
</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="">SCAR-HEALTH</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="fas fa-fw fa-home"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/logout">
          <i class="fas fa-fw fa-bell"></i>
          <span>LogOut</span></a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
        
          <div class="mySearch-group">
            <div class="my-searchOne">
              Monthly Check Search
               <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" method="POST" action="/dashboard/Monthregister">
                <div class="input-group">
                  <input type="month" class="form-control" placeholder="Search for ID..." name="search"  aria-label="search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
              </form>
             </div>
            <!-- Navbar Search -->
             <div class="my-search">
               Daily Check Search 
                <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" method="POST" action="/dashboard/Dayregister">
                    <div class="input-group">
                      <input type="date" class="form-control" placeholder="Search for ID..." name="search"  aria-label="search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
              </div>
          </div>
        </ol>

        <!-- DataTables  Content -->
        <div class="">   
          

           <h4 style="text-align: center;"> <b>List of registered patients of the hospital and are still users of the facility</b> </h4>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Full Name</th>
                    <th> Patient ID Number</th>
                    <th> Patient Insurance ID</th>
                    <th>Telephone</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Occupation</th>
                    <th>Action Tab</th>
                   
                      
                  </tr>
                </thead>
                
                <tbody>
                    <%if(Registered.length > 0){ %>
                        <% Registered.forEach(function(row){%>
                          <tr>
                            <td><%= row.Full_Name %></td> 
                            <td><%= row.Patient_ID_Number %></td>
                            <td><%= row.Health_Insurance_ID  %></td>
                            <td><%= row.Telephone %></td>
                            <td><%= row.Age %></td>
                            <td><%= row.Adress %></td>
                            <td><%= row.Occupation %></td>
                            <td class="float-right">
                                <button type="button" class="btn btn-info btn lg" data-toggle="modal" data-target="#myModal"><b>Action</b></button>
                            </td> 
                         
                        <%});%>
                      <%}else{%>
                            <tr>
                                <td colspan="6"> No Record Found </td>
                            </tr>
                        <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

        <p class="small text-center text-muted my-5">
          <em>More table examples coming soon...</em>
        </p>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © SCAR-HEALTH 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                
                <button type="button" class="close" data-dismiss="modal" aria-label="close" >
                    <span aria-hidden="true">&times;</span>
                    </button>
              
                <div class="modal-body">
                   
                    <h4>Receipt Generation Form</h4> <br>
                      
                      <div id="Pharmacy"> <p><b> LABORATORY BILLING </b></p></div>
                      <div id="Hospital"> <p><b>HOSPITAL BILLING</b></p></div>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <script>
      
    var index, table = document.getElementById('dataTable');
    var Pharmacy = document.getElementById('Pharmacy')
     var Hospital =document.getElementById('Hospital')
    var hidform = document.getElementById('hid_form')
     for(var i = 1; i < table.rows.length; i++){

        table.rows[i].onclick= function(){
         
          index = this.parentElement.rowIndex;
          var patientName = (this.cells[0].innerHTML).replace(/\s/g,'');
          var patientID = (this.cells[1].innerHTML).replace(/\s/g,''); 
          var PatientAge = (this.cells[5].innerHTML).replace(/\s/g,'');

           var INFO = {Name:patientName, patientID:patientID}
              
              Pharmacy.onclick= function(){
                var c = confirm('Do You want Enter Laboratory Bills For these Patient?');  
                if(c === true){
                    INFOSTRING = JSON.stringify(INFO)
                   window.document.location = '/dashboard/PharmRegistered'+ INFOSTRING
               }
               
              }
               
              Hospital.onclick= function(){
                var c = confirm('Do You want Enter Hospital Bills For these Patient?');  
                if(c === true){
                    INFOSTRING = JSON.stringify(INFO)
                   window.document.location = '/dashboard/OPDBills'+ INFOSTRING
               }
               
              }
                        
   };
}

</script>


  <!-- Bootstrap core JavaScript-->
  <script src="../Assets/vendor/jquery/jquery.min.js"></script>
  <script src="../Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../Assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="../Assets/vendor/datatables/jquery.dataTables.js"></script>
  <script src="../Assets/vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../Assets/js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="../Assets/js/demo/datatables-demo.js"></script>

  

</body>

</html>
